body, html{
    height: 100%;
    width: 100%;
    background-color: #b3ffb3;
}
main{
    display: flex;
    flex-direction: column;
    height: 87%;
    margin: 1rem 2rem;
}
h2{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-family: 'Poppins', sans-serif;
}
.botao{
    font-size: 1.1rem;
    margin-bottom: 5rem;
    font-family: 'EB Garamond', serif;
    background-color: #cccccc;
    border-radius: .8rem;
}
h3{
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
    font-family: 'EB Garamond', serif;
}
ul{
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: space-between;
}
.preco{
    font-size: 1.3rem;
    margin-top: 4rem; 
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.linha {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1rem 0;
    align-self: center;
}
.span{
    border: none;
    border-bottom: .1rem dotted black;
    height: .5rem;
    width: 50%;
    margin: .4rem;
}
p{
    margin-bottom: 2rem;
    font-family: 'EB Garamond', serif;
}

nav{
    justify-content: center;
    display: flex;
    flex-direction: row;
    border-bottom: solid black .1rem;
    background-color: #FA5A80;
    font-family: 'Poppins', sans-serif;
}
#logo{
    position: absolute;
    padding: .43rem;
    top:0;
    right:0;
    width:35px;
    height:35px;
}
#return{
    position: absolute;
    padding: .43rem;
    top:0;
    left:0;
    width:35px;
    height:35px;
}
h1{
    margin: 0.5rem;
    font-size: 2rem;
}
li{
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}
.janela{
    display: none;
    position: fixed;
    font-family: 'Poppins', sans-serif;
    width: 15rem;
    top: 45%;
    left: 50%;
    margin-left: -7rem;
}