body, html{
    height: 100%;
    width: 100%;
    background-color: #b3ffb3;
}
li{
    display: flex;
    justify-content: space-between;
    margin: .2rem;
    font-size: 1.1rem;
}
li input{
    font-family: 'EB Garamond', serif;
    border-radius: .5rem;
    width: 100%;
}
.linha {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nome{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    height: 80%;
    margin: 1rem 2rem;
    justify-content: space-around;
}
main ul{
    border-bottom: .1rem solid black;
}
h2{
    font-size: 1.3rem;
    margin: .5rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    border-bottom: .3rem dotted black;
}
.botao{
    display: flex;
    padding: .2rem;
    margin: .5rem;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    width: 70%;
    font-family: 'EB Garamond', serif;
    background-color: #cccccc;
    border-radius: .8rem;
}
p{
    font-family: 'EB Garamond', serif;
}
.preco p{
    font-family: 'Poppins', sans-serif;
}
.preco{
    display: flex;
    justify-content: end;
    font-size: 1.3rem;
}
.rua{
    display: flex;
    justify-content: end;
}
nav{
    justify-content: center;
    display: flex;
    flex-direction: row;
    border-bottom: solid black .1rem;
    background-color: #FA5A80;
    font-family: 'Poppins', sans-serif;
}
#logo{
    position: absolute;
    padding: .43rem;
    top:0;
    right:0;
    width:35px;
    height:35px;
}
#return{
    position: absolute;
    padding: .43rem;
    top:0;
    left:0;
    width:35px;
    height:35px;
}
h1{
    margin: 0.5rem;
    font-size: 2rem;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.3rem;
    width: 100%;
}
.raster{
    width:25px;
    height:25px;
}
.produto{
    font-size: 1.3rem;
}
.detalhes {
    opacity: 0;
    transition: opacity 1s;
}
.visible {
    opacity: 1;
}
.barra{
    width: 80%;
}